@import '../../index.css';

.gridRow {
  fill: var(--gantt-background-color);
}

/* .gridRow:nth-child(even) {
  fill: #f5f5f5;
} */

.gridRowLine {
  stroke: var(--gantt-border-color);
}

.gridTick {
  stroke: var(--gantt-border-color);
}

.gridRowOverlap {
  fill: var(--gantt-overlap-color);
}
