@import '../../index.css';

.taskListWrapper {
  display: table;
  border-bottom: var(--gantt-border-color) 1px solid;
  border-left: var(--gantt-border-color) 1px solid;
}

.taskListTableRow {
  display: table-row;
  text-overflow: ellipsis;
  cursor: pointer;
}

/* .taskListTableRow:nth-of-type(even) {
  background-color: #f5f5f5;
} */

.taskListTableRow:hover {
  background-color: var(--gantt-hover-color);
}

.selectedRow {
  background-color: var(--gantt-selected-color) !important;
  border-left: 3px solid var(--gantt-selected-border);
}

.taskListCell {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.taskListNameWrapper {
  display: flex;
}

.taskListExpander {
  color: var(--gantt-expander-color);
  font-size: 0.6rem;
  padding: 0.15rem 0.2rem 0rem 0.2rem;
  user-select: none;
  cursor: pointer;
}
.taskListEmptyExpander {
  font-size: 0.6rem;
  padding-left: 1rem;
  user-select: none;
}
