@import '../../index.css';

.calendarBottomText {
  text-anchor: middle;
  fill: var(--gantt-text-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: var(--gantt-border-color);
}

.calendarTopText {
  text-anchor: middle;
  fill: var(--gantt-text-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: var(--gantt-background-color);
  stroke: var(--gantt-border-color);
  stroke-width: 1.4;
}

.calendarContainer {
  border: 1px solid var(--gantt-border-color);
  border-radius: 4px;
}
